execute/
Source/out.txt
Source/*.o
Source/*.mod
FFLUX_TEST/
test/

# Symlinks to ignore
Source/pmf_shake_vv.f90
Source/nvt_g1_vv.f90
Source/npt_l1_lfv.f90
Source/nvt_g0_vv.f90
Source/pmf_shake_lfv.f90
Source/nvt_g0_lfv.f90
Source/nst_b0_vv.f90
Source/nst_b1_vv.f90
Source/fflux_initialisation.f90
Source/w_md_vv.f90
Source/constraints_shake_lfv.f90
Source/nst_h0_vv.f90
Source/npt_l0_lfv.f90
Source/npt_h0_scl.f90
Source/fflux_rotate_moments.f90
Source/nvt_g1_lfv.f90
Source/npt_l0_vv.f90
Source/constraints_shake_vv.f90
Source/pseudo_vv.f90
Source/fflux_predict_value.f90
Source/nst_l1_lfv.f90
Source/npt_l1_vv.f90
Source/nvt_b0_lfv.f90
Source/fflux_module.f90
Source/nvt_e1_lfv.f90
Source/fflux_read_initial.f90
Source/fflux_read_kriging_file.f90
Source/nst_l1_vv.f90
Source/nvt_h0_scl.f90
Source/nve_0_lfv.f90
Source/nvt_a1_lfv.f90
Source/npt_h0_vv.f90
Source/constraints_rattle.f90
Source/nvt_l0_lfv.f90
Source/nst_h0_scl.f90
Source/nvt_e0_vv.f90
Source/nvt_e1_vv.f90
Source/nvt_a0_lfv.f90
Source/nvt_h1_scl.f90
Source/npt_m1_vv.f90
Source/fflux_calc_mp_forces.f90
Source/npt_h1_vv.f90
Source/pseudo_lfv.f90
Source/pmf_rattle.f90
Source/nvt_l0_vv.f90
Source/nvt_l1_vv.f90
Source/fflux_mm_explicittensor.f90
Source/fflux_calc_forces.f90
Source/npt_m0_vv.f90
Source/npt_b0_lfv.f90
Source/nvt_b0_vv.f90
Source/nvt_h0_lfv.f90
Source/nvt_b1_vv.f90
Source/npt_b0_vv.f90
Source/nvt_h1_lfv.f90
Source/npt_h0_lfv.f90
Source/nst_m1_vv.f90
Source/nve_1_lfv.f90
Source/fflux_unit_conversion.f90
Source/nve_1_vv.f90
Source/fflux_calc_features.f90
Source/nst_m0_lfv.f90
Source/w_md_lfv.f90
Source/fflux_calc_q_vector.f90
Source/nst_h1_lfv.f90
Source/nvt_e0_lfv.f90
Source/nst_h1_scl.f90
Source/npt_b1_lfv.f90
Source/fflux_ewald.f90
Source/npt_m0_lfv.f90
Source/nvt_a1_vv.f90
Source/nve_0_vv.f90
Source/npt_h1_scl.f90
Source/nvt_g1_scl.f90
Source/nst_l0_lfv.f90
Source/fflux_tensor_conversion.f90
Source/nst_b0_lfv.f90
Source/nvt_a0_vv.f90
Source/npt_h1_lfv.f90
Source/fflux_read_krig_model_file.f90
Source/nst_h1_vv.f90
Source/nst_m0_vv.f90
Source/nvt_g0_scl.f90
Source/nst_b1_lfv.f90
Source/nvt_l1_lfv.f90
Source/npt_m1_lfv.f90
Source/npt_b1_vv.f90
Source/w_at_start_lfv.f90
Source/nst_h0_lfv.f90
Source/nvt_h1_vv.f90
Source/nst_m1_lfv.f90
Source/w_integrate_vv.f90
Source/w_integrate_lfv.f90
Source/nvt_h0_vv.f90
Source/nvt_b1_lfv.f90
Source/w_at_start_vv.f90
Source/nst_l0_vv.f90
Source/FFLUX/fflux_read_initial.f90
.vscode/settings.json
fflux_comms.f90
fflux_derivs.f90
fflux_electro_converge.f90
fflux_explicit_spme_loops.f90
fflux_export_data.f90
fflux_geometry_opt_converged.f90
fflux_global_cmoment_derivs.f90
fflux_read_models.f90
fflux_spme_forces.f90
fflux_spme_mforces.f90
fflux_spme_mforces_d.f90
.vscode
